.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #121212;
    opacity: 0.5;
}
.modal{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 920px;
    height: 210px;
    background-color: #FFFFFF;
    padding: 56px 95px;
    &_title{
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
    }
    &_text{
        margin-top: 24px;
    }
    &_close-btn{
        position: absolute;
        top: 46px;
        right: 46px;
        width: 12px;
        height: 12px;
        border: none;
    }
}